<h2 class="fontSizeAndWeight" fontSize="32" fontWeight="800">Faites un don</h2>
<div class="dons-container flex flexColumn shadows">
    <div class="topPart flex">
        <div class="don flex flexColumn" id="10euros">
            <h3 class="fontSizeAndWeight" fontSize="30" fontWeight="800">10€</h3>
            <span class="fontSizeAndWeight" fontSize="16" fontWeight="400">Permet de nourrir 5 animaux pendant une journée</span>
        </div>
        <div class="don flex flexColumn" id="20euros">
            <h3 class="fontSizeAndWeight" fontSize="30" fontWeight="800">20€</h3>
            <span class="fontSizeAndWeight" fontSize="16" fontWeight="400">Permet d’héberger un animal sauvage pendant une nuit</span>
        </div>
        <div class="don flex flexColumn" id="50euros">
            <h3 class="fontSizeAndWeight" fontSize="30" fontWeight="800">50€</h3>
            <span class="fontSizeAndWeight" fontSize="16" fontWeight="400">Permet de financer les soins vétérinaires complets pour un animal</span>
        </div>
    </div>
    <div class="middlePart flex">
        <button id="oneTime" class="fontSizeAndWeight" fontSize="16" fontWeight="400" role="button">Une fois</button>
        <button id="mensuel" class="fontSizeAndWeight" fontSize="16" fontWeight="400" role="button">Mensuel</button>
        <button id="year" class="fontSizeAndWeight" fontSize="16" fontWeight="400" role="button">Annuel</button>
    </div>
    <div class="bottomPart flex">
        <button id="donate" class="fontSizeAndWeight" fontSize="28" fontWeight="400" role="button">Faites un don</button>
    </div>
</div>