<div class="mission-container flex">
    <div class="left">
        <img src="assets/images/mission.png" alt="Chiot qui court.">
    </div>
    <div class="right flex flexColumn">
        <h2 class="fontSizeAndWeight" fontSize="32" fontWeight="800">Notre mission</h2>
        <p class="fontSizeAndWeight" fontSize="19" fontWeight="400">Depuis 2010, Quatre pattes œuvre sans relâche pour la protection et le bien-être des animaux en France. Notre mission est double : secourir les animaux en détresse et sensibiliser le public à la cause animale.</p>
        <p class="fontSizeAndWeight" fontSize="19" fontWeight="400">Chaque année, nous prenons en charge plus de 1000 animaux abandonnés, maltraités ou blessés. Grâce à notre réseau de familles d’accueil et nos partenariats avec des refuges, nous leur offrons une seconde chance.</p>
        <p class="fontSizeAndWeight" fontSize="19" fontWeight="400">Votre soutien est essentiel pour continuer notre mission. Ensemble, nous pouvons faire la différence pour ces êtres qui comptent sur nous.</p>
    </div>
</div>