<div class="nav flex">
    <div class="left flex">
        <img src="assets/images/logo.png" alt="Logo du site." id="logo">
    </div>
    <div class="right flex">
        <a href="#" class="fontSizeAndWeight" fontSize="18" fontWeight="400" id="ctaAccueil">Accueil</a>
        <a href="#" class="fontSizeAndWeight" fontSize="18" fontWeight="400" id="ctaContact">Contact</a>
        <button class="flex fontSizeAndWeight" fontSize="18" fontWeight="400" role="button"><img src="assets/images/icon-heart.png" alt="icône de cœur pour le don" >Faire un don</button>
    </div>
</div>