<div class="reussite-container flex flexColumn">
    <div class="top flex">
        <h2 class="fontSizeAndWeight" fontSize="32" fontWeight="800">Histoire de Réussite</h2>
    </div>
    <div class="middle flex">
        <div class="image-container">
            <img src="assets/images/luna.png" alt="Image d'animal secouru" id="animalImg">
            <span id="animalName" class="fontSizeAndWeight" fontSize="28" fontWeight="800"></span>
            <span id="animalDescription" class="fontSizeAndWeight" fontSize="20" fontWeight="400"></span>
            <span id="animalDate" class="fontSizeAndWeight" fontSize="16" fontWeight="400"></span>
        </div>
    </div>
    <div class="bottom flex">
        <div class="image-container">
            <img src="assets/images/luna.png" alt="Luna le chien." class="animalReussite" id="animalLuna" data-name="Luna" data-date="Janvier 2024" data-description="Trouvée dans la rue avec une patte cassée, Luna a été soignée et a retrouvée sa joie de vivre. Elle coule maintenant des jours heureux dans sa nouvelle famille.">
            <span class="fontSizeAndWeight" fontSize="30" fontWeight="800">Luna</span>
        </div>
        <div class="image-container">
            <img src="assets/images/oscar.png" alt="Oscar le chat." class="animalReussite" id="animalOscar" data-name="Oscar" data-date="Mars 2024" data-description="Abandonné dans une forêt, Oscar était térrifié par les humains. Après des mois de patience et d’amour, il est devenu un chat confiant et affectueux.">
            <span class="fontSizeAndWeight" fontSize="30" fontWeight="800">Oscar</span>
        </div>
        <div class="image-container">
            <img src="assets/images/max.png" alt="Max le chien trop classe." class="animalReussite" id="animalMax" data-name="Max" data-date="Janvier 2025" data-description="Max était un chien sauvage, né dans une forêt d’Amazonie. Il a été rapatrié par jet, puis adopté par une riche famille dans un château dans le nord de la France.">
            <span class="fontSizeAndWeight" fontSize="30" fontWeight="800">Max</span>
        </div>
    </div>
</div>