<h2 class="fontSizeAndWeight" fontSize="32" fontWeight="800">Témoignages</h2>
            <div class="temoignages-container flex">
                <div class="temoignage flex flexColumn shadows">
                    <div class="top flex">
                        <img src="assets/images/refuge-lyon.png" alt="Images d'animaux au refuge de Lyon.">
                    </div>
                    <div class="bottom flex">
                        <p class="fontSizeAndWeight" fontSize="16" fontWeight="400">“Grâce aux dons, nous avons pu accueillir plus de 200 animaux cette année et leur offrir une seconde chance.”</p>
                        <p class="fontSizeAndWeight" fontSize="16" fontWeight="800">Refuge des Quatre Pattes - Lyon</p>
                    </div>
                </div>
                <div class="temoignage flex flexColumn shadows">
                    <div class="top flex">
                        <img src="assets/images/refuge-marseille.png" alt="Images d'animaux au refuge de Marseille.">
                    </div>
                    <div class="bottom flex">
                        <p class="fontSizeAndWeight" fontSize="16" fontWeight="400">“Le soutien de Quatre Pattes nous permet de maintenir notre mission de protection des animaux sauvages en détresse.”</p>
                        <p class="fontSizeAndWeight" fontSize="16" fontWeight="800">Sanctuaire Animal - Marseille</p>
                    </div>
                </div>
                <div class="temoignage flex flexColumn shadows">
                    <div class="top flex">
                        <img src="assets/images/refuge-paris.png" alt="Images d'animaux au refuge de Paris.">
                    </div>
                    <div class="bottom flex">
                        <p class="fontSizeAndWeight" fontSize="16" fontWeight="400">“Chaque don compte et nous aide à offrir un avenir meilleur aux animaux abandonnés.”</p>
                        <p class="fontSizeAndWeight" fontSize="16" fontWeight="800">Refuge du Soleil - Paris</p>
                    </div>
                </div>
            </div>