* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: Montserrat, sans-serif; */
}

header{
    background-color:#057858;
}


footer {
    background-color: #1F2937;
}