* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fontSizeAndWeight {
    font-size: var(--fontSize);
    font-weight: var(--fontWeight);
}

button:hover, a:hover, .nav > .left > img, .don{
    cursor: pointer;
}

.shadows {
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.2), /* Ombre à gauche */
                5px 5px 10px rgba(0, 0, 0, 0.2),  /* Ombre à droite */
                0px 5px 10px rgba(0, 0, 0, 0.2);  /* Ombre en bas */
}

/* a revoir */
section, .haut-page {
    margin-bottom: 5vh;
}

/* section header */
.nav {
    background-color:#057858;
    justify-content: space-between;
    padding: 10px 25px;
}

a {
    color: white;
    text-decoration-line: none;
}

.nav > .right > button {
    color: white;
    background-color: #DB2628;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
}

.nav > .right {
    align-items: center;
    gap: 30px;
}

.haut-page {
    position: relative;
    max-height: 700px;
    width: auto;
}

.haut-page > img{
    object-fit: cover;
    height: 600px;
    width: 100%;
    filter: brightness(0.4);
}

.haut-page > p {
    color:white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* section dons */

#dons {
    flex-direction: column;
    gap: 2%;
    padding: 0 10vw;
}

.dons-container{
    padding: 3vh 3vw;
    flex-direction: column;
    gap: 20px;
    border-radius: 15px;
}

.middlePart, .topPart {
    gap: 2vw;
}

.bottomPart {
    width: 100%;
}

/* a revoir pour les padding et les sizes */
.don {
    flex-direction: column;
    gap: 10px;
    height: 150px;
    width: 200px;
    padding: 1vh;
    border-radius: 10px;
    border: 2px solid rgb(202, 202, 202);
}

/* fusionner les css des buttons seul argument qui change = couleur et bgcolor ? e */
.middlePart > button {
    background-color: #EFEFEF;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
}

.bottomPart > button {
    color: white;
    background-color: #DB2628;
    padding: 15px;
    border: none;
    border-radius: 10px;
    width: 100%;
}

/* section mission */

#mission {
    background-color: #E2FCEF;
    padding: 8vh 2vw;
}

.mission-container {
    gap: 10px;
    background-color: white;
    border-radius: 20px;
}

.mission-container > .left, .mission-container > .right {
    flex: 1;
}

.mission-container > .left > img {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 100%;
    width: 100%;
}

/* dois faire en sorte que le texte prenne bien 100% de la hauteur */
.mission-container > .right {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

/* section reussite */

#reussite {
    background-color: white;
    padding: 0 5vw; /* a voir */
    height: 700px;
    max-width: 100vw;
}

#reussite h1 {
    text-align: center;
    margin-bottom: 5vh; /*a voir */
}

.reussite-container {
    height: 600px;
    flex-direction: column;
    gap: 5px;
}

#reussite .top {
    height: 75%;
    width: 100%;
}

#reussite .bottom {
    gap: 5px;
    height: 25%;
    width: 100%;
}

.image-container {
    position: relative;
    height: 100%;
    width: 100%;
}

#reussite .bottom span{
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#animalDescription {
    position: absolute;
    color: white;
    width: 1000px; /* a voir */
    height: 1px;
    bottom: 10%;
    left: 10%;
}

#reussite img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    filter: brightness(0.4);
}

/* section quizz */
#quizz {
    background-color: #E2FCEF;
}

 /*a voir*/
#quizz h1 {
    margin-top:  5vh;
}

.quizz-container {
    flex-direction: column;
    gap: 5vh
}

.question {
    width: 75%;
    height: 160px;
    flex-direction: column;
    background-color: white;
    padding: 3vh 3vw;
    border-radius: 15px;
    gap: 20px;
}

.question h4 {
    width: 100%;
    text-align: start;
}

.answers {
    gap: 20px;
    width: 100%;
}

#true, #false{
    display: flex;
    flex: 1;
    background-color: #F5F3F3;
    border: none;
    border-radius: 10px;
    text-align: start;
    align-items: center;
    height: 100%;
    padding: 1vh 1vw;
}

/* section impact */
#impact {
    padding: 10vh 10vw;
    background-color: #E2FCEF;
}

.impact-container {
    flex-direction: column;
    gap: 5vh;
}

.icones-container {
    gap: 10vw;
}

.elem {
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

/* section temoignages */
#temoignages {
    flex-direction: column;
    height: 50vh;
    width: 100vw;
}

#temoignages > h1{
    margin-bottom: 3vh;
}

.temoignages-container{
    gap: 2vw;
    padding: 0 5vw;
    height: 100%;
    width: 100%;
}

.temoignage{
    flex: 1;
    border-radius: 15px;
    flex-direction: column;
    height: 100%;
}

.temoignage .top, .temoignage .bottom {
    width: 100%;
    height: 50%;
}

.temoignage img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

.temoignage .bottom {
    padding: 20px;
    flex-direction: column;
    justify-content: space-between;
    text-align: start;
}

/* section footer */

footer {
    background-color: #1F2937;
    padding: 5vh 5vw;
    color: white;
    gap: 2vh;
}

footer .left, footer .middle, footer .right {
    flex: 1;
    flex-direction: column;
}

.mail {
    /* flex-direction: row; */
    /* gap: 15px; */
}